.product-details {
  display: flex;
  flex-wrap: wrap; /* Đảm bảo tương thích với màn hình nhỏ */
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.product-details-image {
  flex: 1;
  min-width: 300px; /* Đặt kích thước tối thiểu để ảnh không quá nhỏ */
  max-width: 50%; /* Giới hạn tối đa không vượt quá nửa màn hình */
}

.product-details-image img {
  width: 100%; /* Ảnh chiếm toàn bộ khung */
  height: auto; /* Đảm bảo tỷ lệ ảnh */
  border-radius: 10px; /* Tạo góc bo tròn */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-details-info {
  flex: 1;
  min-width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-details-info h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  color: #666;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff5722;
}

.product-counter {
  margin-top: 10px;
}

.add-to-cart-btn{
  padding: 10px 15px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 40%;
  transition: background-color 0.3s ease;
}
.counter-btn {
  padding: 10px 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  width: 10%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover,
.counter-btn:hover {
  background-color: #e64a19;
}

.counter-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-controls span {
  font-size: 1.2rem;
  font-weight: bold;
}

.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #00796b;
}

.product-reviews-section {
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-reviews-section h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
}